<app-base-form-template [isLoading]="isLoading">
  <ng-container header>
    <app-horizontal-menu [menuItems]="menuItems"></app-horizontal-menu>
  </ng-container>

  <ng-container content>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('vendorId')"
        [text]="'Vendor'">
        <app-transactions-vendor-autocomplete
          [parentForm]="form"
          [controlName]="'vendorId'">
        </app-transactions-vendor-autocomplete>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('orderNumber')"
        [text]="'Order number'">
        <app-input
          [parentForm]="form"
          [controlName]="'orderNumber'">
        </app-input>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('transactionType')"
        [text]="'Transaction type'">
        <app-input
          [disabled]="true"
          [parentForm]="form"
          [controlName]="'transactionType'">
        </app-input>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('value')"
        [text]="'Transaction value'">
        <app-input
          [disabled]="true"
          [parentForm]="form"
          [controlName]="'value'">
        </app-input>
      </app-base-filter-template>
    </div>
  </ng-container>

  <ng-container footer>
    <app-form-footer-action [backPath]="backPath" (apply)="applyForm()"></app-form-footer-action>
  </ng-container>
</app-base-form-template>
