form {
  display: flex;
  margin: 10px 20px;
}
.fields-wrapper {
  width: 160px;
}
.fields, .button {
  flex: 1 0 50%;
}
h2 {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: black;
  padding: 10px 0;
}
.button-place {
  width: 160px;
}
label {
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0;
  display: block;
}
