.status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .indicator {
    width: 8px;
    height: 8px;
    border-radius: 8px;

    &.online {
      background: #34C15C;
    }

    &.offline {
      background: #FF6A92;
    }

    &.blocked {
      background: #828282;
    }
  }
}
