<app-wrapper-with-header [header]="header">
  <app-input-range
    [max]="2500"
    [step]="10"
    [parentForm]="form"
    (changeRange)="onChangeRange($event)"
    [controlName]="'fromValue'">
  </app-input-range>
  <form class="base-form" nz-form [formGroup]="form" *ngIf="form">
    <app-base-filter-template
      [text]="'Brand name'">
      <app-brand-autocomplete [parentForm]="form" [controlName]="'brandId'"></app-brand-autocomplete>
    </app-base-filter-template>
    <app-base-filter-template
      [text]="'Add date from'">
      <app-date-picker
        [parentForm]="form"
        [controlName]="'dateFrom'"
        [dateFormat]="'M/d/yy'"
        [placeholder]="'from'"
        [isFrom]="true"
        [disableDateMode]="true"
        [neighborDate]="form.get('dateTo').value">
      </app-date-picker>
    </app-base-filter-template>
    <app-base-filter-template
      [text]="'Add date to'">
      <app-date-picker
        [parentForm]="form"
        [controlName]="'dateTo'"
        [dateFormat]="'M/d/yy'"
        [placeholder]="'to'"
        [disableDateMode] = true
        [neighborDate]="form.get('dateFrom').value">
      </app-date-picker>
    </app-base-filter-template>
    <div class="bottom-place">
      <app-button
        [text]="'Clear'"
        [type]="buttonType.BLUE"
        (clickEvent)="clearFilter()">
      </app-button>
    </div>
    <div class="bottom-place">
      <app-button
        [text]="'Apply'"
        [type]="buttonType.GREEN"
        (clickEvent)="applyFilter()">
      </app-button>
    </div>
  </form>
</app-wrapper-with-header>
