<app-base-form-template [isLoading]="isLoading">
  <ng-container header>
    <app-horizontal-menu [menuItems]="menuItems"></app-horizontal-menu>
  </ng-container>

  <ng-container content>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('telephone')"
        [text]="'User phone'">
        <app-input
          [parentForm]="form"
          [controlName]="'telephone'">
        </app-input>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('orderNumber')"
        [text]="'Order number'">
        <app-input
          [disabled]="createNewOrder"
          [parentForm]="form"
          [controlName]="'orderNumber'">
        </app-input>
      </app-base-filter-template>
      <app-base-filter-template
        [text]="''">
        <label
          class="new-order"
          nz-checkbox
          (ngModelChange)="onClearOrder($event)"
          [(ngModel)]="createNewOrder">
          create new order
        </label>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('transactionType')"
        [text]="'Transaction type'">
        <app-nz-select
          [items]="selectItems"
          [parentForm]="form"
          [controlName]="'transactionType'">
        </app-nz-select>
      </app-base-filter-template>
    </div>
    <div class="base-line">
      <app-base-filter-template
        [isError]="isInvalid('value')"
        [text]="'Transaction value'">
        <app-input
          [parentForm]="form"
          [controlName]="'value'">
        </app-input>
      </app-base-filter-template>
    </div>
  </ng-container>

  <ng-container footer>
    <app-form-footer-action [backPath]="backPath" (apply)="applyForm()"></app-form-footer-action>
  </ng-container>
</app-base-form-template>
