.order-builder {
  padding-bottom: 10px;

  .input {
    padding: 0 10px 0 20px;
    min-width: 140px;
  }

  .icon-add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
  }
}
