.order-builder {
  grid-template-columns: auto auto auto auto auto auto auto auto 1fr auto;
  min-height: 100px;
  position: relative;

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
