.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  animation: fade .36s linear;

  &__navigation {
    overflow: auto;
    z-index: 2;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 0;
    z-index: 2;
    padding: 10px 2rem;

    &_image {
      height: 40px;
    }
  }

  &__logout {
    display: none;
    z-index: 3;
    text-align: center;
  }

  &__content {
    padding: 1rem;
    z-index: 1;
    overflow: hidden;
  }

  .menu-icon {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }

  @media only screen and (max-width: 599px) {
    grid-template-columns: 165px 1fr;

    &__navigation {
      grid-row: 3;
      grid-column: 1/3;
      position: fixed;
      top: 60px;
      left: -100%;
      width: 100%;
      height: calc(100% - 60px);
      font-size: 14px;
      transition: left .2s ease-out;

      &.open {
        left: 0;
      }
    }

    &__content {
      grid-column: 1/3;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
