.icon {
  margin-right: 4px;
  display: block;
  float: left;
  position: relative;
  top: 2px;
}
.High {
  color: #FF6A92;
}
.Medium {
  color: #FFB800;
}
.Low {
  color: #34C15C;
}
.add-me {
  color: #30B9F5;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

