<nz-table
  class="no-expand-table"
  [nzSize]="'small'"
  [nzFrontPagination]="false"
  [nzShowSizeChanger]="false"
  [nzHideOnSinglePage]="false"
  [nzData]="state?.items"
  [nzTotal]="state?.totalItems"
  [nzLoadingDelay]="0"
  [nzLoading]="state?.isLoading"
  [(nzPageIndex)]="paged.page"
  [(nzPageSize)]="paged.pageSize"
  (nzPageIndexChange)="onPageChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)">
  <thead nzSingleSort (nzSortChange)="onSort($event)">
  <tr>
    <th>Roles</th>
    <th *ngIf="manageCredential"></th>
    <th *ngIf="manageCredential"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of state.items; trackBy: trackByFn">
    <td width="90%"><a (click)="openRoleInfo(item.id)">{{item.name}}</a></td>
    <td *ngIf="manageCredential">
      <app-edit-icon (click)="navigateToEditRole(item.id)"></app-edit-icon>
    </td>
    <td *ngIf="manageCredential">
      <app-delete-icon (click)="onDeleteRole(item)"></app-delete-icon>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #modalContent>
  <app-roles-info [isLoading]="state.role?.isLoading" [roleInfo]="state.role?.content"></app-roles-info>
</ng-template>
