input[type="file"] {
  display: none;
}

.input-file {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;

  .text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
